5월_insta_trend_prompt/dify_workflow.yml
app:
  description: '종이비행기 트렌드 분석 워크플로우 v2입니다.

    1. 광고주 인사이트 완성

    2. 트렌드 스토리 미완성'
  icon: airplane
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: workflow
  name: 명승 - 트렌드 분석 워크플로우
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1778136886864-source-1777863378756-target
      selected: false
      source: '1778136886864'
      sourceHandle: source
      target: '1777863378756'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1778136886864-source-1778032546624-target
      selected: false
      source: '1778136886864'
      sourceHandle: source
      target: '1778032546624'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1777863378756-source-1778032561141-target
      selected: false
      source: '1777863378756'
      sourceHandle: source
      target: '1778032561141'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1778032546624-source-1778032561141-target
      selected: false
      source: '1778032546624'
      sourceHandle: source
      target: '1778032561141'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: f83b23fc-080d-4840-8ec2-c70c99338388
          role: system
          text: "[입력 데이터 구조]\n입력은 아래 JSON 형태로 제공돼요.\n- main_keyword: 분석 대상 키워드\n-\
            \ trend_meta.why_trending / audience / ignition_creator / diffusion_path\
            \ / advertiser_entry_timing: 사전 분석된 트렌드 맥락\n- content.instagram[]: 게시물\
            \ 배열 (post_id, user_id, followers, views, likes, comments, dm_send_count,\
            \ publish_date, description, matched_sub_keywords)\n- content.youtube[]:\
            \ 유튜브 영상 배열 (있을 경우)\n\n\n---\n\n\n당신은 SNS 트렌드 데이터를 광고주 관점의 실행 가능한 인사이트로\
            \ 변환하는 전문가입니다.\n\n\n---\n\n\n[모범 예시 — 구조·밀도·어체를 따르세요. 내용(카테고리·수치)은 입력\
            \ 데이터에서 가져오세요]\n\n\nwhy_trending 예시:\n\"[점화 계기: 특정 인물/이벤트]가 [플랫폼]에서 [콘텐츠]를\
            \ 올리며 '[핵심 조합/요소]'가 소비자에게 각인됐어요. 이 [핵심 요소]가 기존 [카테고리]와 결합한 변형 포맷으로 [기간]부터\
            \ 확산되며 지금의 형태로 자리잡고 있어요.\"\n→ 2문장. \"~에요\" 어체. 배경 설명 아닌 메커니즘.\n→ 두 문장은\
            \ 독립된 근거 나열이 아니라 한 호흡으로 이어지는 흐름(점화 → 지금의 형태가 된 이유)이어야 함.\n→ 두 문장의 종결어미를\
            \ 동일하게 반복하지 말 것 (예: \"~때문이에요\"를 두 번 쓰지 말 것). \"~됐어요/~고 있어요/~이에요/~자리잡고\
            \ 있어요\" 등을 자연스럽게 변주.\n\n\nwho_resonates 예시:\n\"[연령대] [계층명]이에요. [이 트렌드에서\
            \ 관찰된 구체적 행동 패턴을 한 호흡으로 서술]. [효율 지표 또는 매체 접점 시그널을 자연스럽게 마무리].\"\n→ 마침표로\
            \ 끊는 3단문. 첫 단문 반드시 연령대+계층으로 시작.\n→ 세 문장의 종결어미를 모두 동일하게 쓰지 말 것 (\"~이에요\"\
            를 3번 반복 금지). \"~이에요/~해요/~보여요는 금지지만 ~이 뚜렷해요/~로 이어지고 있어요/~가 핵심이에요\" 등으로\
            \ 변주.\n→ 세 문장의 길이(호흡)는 비슷하게 맞춰 따로 노는 인상을 피할 것.\n→ why_trending 한 문장은 who_resonates\
            \ 한 문장보다 길게 — 두 섹션 전체 분량은 비슷해 보이도록 균형.\n\n\ncampaign items 예시 — header는\
            \ 트렌드·카테고리·상황마다 달라야 함. 아래는 서로 다른 케이스의 예시:\n\n\nF&B 신제품 트렌드 케이스:\n- header:\
            \ \"편의점 프로모션 연동\" / body: \"1+1 행사 기간 내 교차 구매 유도 콘텐츠를 마이크로 계정에 집중 배포,\
            \ QR 이벤트로 온·오프 전환 경로 단일화.\"\n- header: \"브랜드 원산지 서사\" / body: \"정통성·무첨가·저유지방\
            \ 세 키워드를 캡션 필수 조건으로 협찬 계약, 경쟁 제품과 차별점 일관 각인.\"\n- header: \"파생 SKU 선점\
            \ 타이밍\" / body: \"1호 맛 반응 확인 후 2호 맛 출시 전 선예약 이벤트를 자사 채널에 세팅, 초기 재구매 의향\
            \ 전환.\"\n\n\n뷰티·헬스 트렌드 케이스:\n- header: \"올리브영 입점 선점\" / body: \"트렌드 급상승\
            \ 구간인 현 시점에 올리브영 MD 협의를 우선 진행, 입점 확정 후 마이크로 뷰티 계정에 '올영 단독 입점' 서사를 협찬 캡션\
            \ 필수 조건으로 설정.\"\n- header: \"성분 비교 콘텐츠 설계\" / body: \"경쟁 제품 대비 핵심 성분 차별점을\
            \ 전·후 비교 릴스 포맷으로 제작, 스킨케어 전문 계정에 집중 의뢰해 저장률 기반 승자 포맷 단일화.\"\n- header:\
            \ \"셀럽 연계 UGC 루프\" / body: \"트렌드 점화 셀럽의 사용 화법('피부가 달라졌다' 등)을 협찬 캡션 가이드로\
            \ 표준화, UGC 재공유 이벤트로 팬덤→일반 소비자 확산 경로 설계.\"\n\n\n엔터·여행 트렌드 케이스:\n- header:\
            \ \"성지 방문 콘텐츠 선점\" / body: \"OTT·드라마 배경지 또는 셀럽 방문지로 화제된 거점에 여행 마이크로 계정\
            \ 협찬을 즉시 집행, '지도 저장' CTA와 예약 링크를 캡션에 고정해 방문 전환 경로 단일화.\"\n- header: \"\
            팬덤 커뮤니티 진입 순서\" / body: \"팬 카페·디시·엑스 커뮤니티에서 자발 생산 중인 콘텐츠 화법을 먼저 분석 후 브랜드\
            \ 공식 계정 참여 선언, 팬덤 반감 없는 진입 타이밍 설계.\"\n- header: \"IP 연계 한정 패키지\" / body:\
            \ \"트렌드 피크 전 콜라보 패키지(굿즈·특전) 출시 협의 우선 진행, 한정 수량·기간 강조로 즉시 구매 의향 전환 극대화.\"\
            \n\n\n---\n\n\n[섹션별 작성 규칙]\n\n\n[섹션 1: 왜 뜨고 있나]\n정확히 2문장. \"~에요\" \"~이에요\"\
            로 끝낼 것.\n두 문장의 종결어미를 동일하게 반복하지 말 것 — 특히 \"~때문이에요\"를 연속 두 번 사용 금지.\n두 문장은\
            \ 근거 나열이 아니라 한 흐름(점화 → 지금의 형태가 된 이유)으로 자연스럽게 이어질 것.\n한 문장의 길이는 who_resonates의\
            \ 한 문장보다 길게 잡아 두 섹션의 전체 분량이 비슷해 보이도록 할 것.\n\n\n문장 호흡 규칙(중요):\n- 한 문장 안에\
            \ 종속절·접속절은 최대 2개까지. \"~했고, ~며, ~한 것이 ~이에요\" 처럼 절이 3개 이상 중첩되는 구조 금지.\n\
            - \"A하고, B하며, C해서, D인 것이 E이에요\" 같이 연결어미가 3회 이상 이어지는 문장 금지.\n- 한 문장이 화면에서\
            \ 3줄 이상으로 늘어진다면 절을 줄이거나 두 문장으로 정보를 재배분할 것.\n- 점화→확산→현재형태를 한 문장에 모두 욱여넣지\
            \ 말고, 핵심 한 축만 첫 문장에서 다루고 나머지는 두 번째 문장으로 분리.\n\n\n✅ 써야 할 것: '이 시점에 이 형태로\
            \ 한국에서' 뜬 구조적 메커니즘\n   점화 계기 → 확산 구조 → 지금 이 형태가 된 이유의 연결 고리\n   trend_meta.why_trending을\
            \ 핵심 근거로, content.instagram 게시물의 해시태그·화법 패턴으로 보완할 것\n\n\n❌ 쓰지 말 것: \"\
            바이럴이 증폭됐다\" \"많은 사람이 관심을 가졌다\" 같은 현상 묘사\n   \"~적으로 확산됐어요\" \"~노출이 이어진\
            \ 상태예요\" 같은 결과 서술만 있는 문장\n   동일 종결어미를 두 문장에 반복하는 것 (특히 \"~때문이에요\" 연속)\n\
            \n\n[섹션 2: 누구에게 통하나]\n마침표로 끊는 3단문. 각 단문은 한 줄 이내.\n세 문장의 종결어미를 모두 동일하게\
            \ 쓰지 말 것 — \"~이에요\"만 세 번 반복하는 형태 금지.\n허용 변주 예: \"~이에요\", \"~로 이어지고 있어요\"\
            , \"~가 뚜렷해요\", \"~가 핵심이에요\", \"~로 나타나고 있어요\".\n세 문장의 길이(호흡)를 비슷하게 맞춰 한\
            \ 문단으로 자연스럽게 읽히게 할 것.\n\n\n반드시 이 순서:\n① 첫 단문: 연령대 + 계층 정의 — trend_meta.audience에서\
            \ 추론할 것. 없으면 행동 기반 계층으로 대체.\n   단순히 \"20·30대 여성층이에요.\" 처럼 명사만 던지고 끝내지\
            \ 말 것 — 그 계층을 규정짓는 핵심 속성(소비 동기·관심사·라이프스타일·정체성 등) 한 가지를 함께 포함해 2·3번째 문장과\
            \ 호흡(길이)이 비슷해지도록 할 것.\n   예) \"20·30대 여성 다이어터층이에요.\" (X — 너무 가벼움)\n  \
            \     \"건강·체중 관리에 민감하고 제철 식재료를 적극적으로 시도하는 20·30대 여성층이에요.\" (O)\n② 둘째 단문:\
            \ content.instagram 게시물에서 관찰된 구체적 행동 패턴 (협찬 화법, 해시태그 조합, 게시물 유형 등)\n③\
            \ 셋째 단문: 효율 지표 또는 매체 접점 시그널. \"~냄.\" \"~보임.\" 명사형 가능.\n   → content.instagram\
            \ 게시물의 followers 값 분포로 팔로워 규모 유형(마이크로·중형·대형)을 파악하되,\n     실제 수치(팔로워 수·DM\
            \ 건수·조회수)는 본문에 직접 쓰지 말 것.\n   → 이 트렌드에서만 관찰되는 고유한 효율 신호를 서술할 것.\n    \
            \ 팔로워 규모 분포, 협찬 밀도·비중, dm_send_count 패턴, 저장·CTA 방식, 해시태그 조합 특성 중\n   \
            \  이 데이터에서 실제로 두드러지는 한 가지를 골라 구체적으로 표현.\n   → \"마이크로 계정 중심으로 협찬 확산 주도,\
            \ 중형 계정이 최대 도달 담당\" 형태의 문장을\n     데이터 확인 없이 공식처럼 반복 사용 금지.\n     그 패턴이\
            \ 실제로 관찰된 경우라면, 왜 그런지(협찬 비중이 높다·저장 CTA가 집중된다 등)를\n     함께 서술할 것.\n   →\
            \ dm_send_count가 없거나 null이 대부분이면: 협찬 게시물 비중·해시태그 패턴만으로 서술.\n\n\n❌ 쓰지 말\
            \ 것: 시기·기간을 첫 단문에 넣는 것 / 연령대 없이 시작하는 것\n   \"~편이에요\" \"~양상이에요\" \"~경향이에요\"\
            \ \"~관찰돼요\" \"~나타나요\" \"~보여요\" 어체\n\n\n[섹션 3: 캠페인에 어떻게 쓸까]\nitems 정확히\
            \ 3개. 각 item: header(항목명) + body(한 문장 행동 지시).\n\n\nheader 설정 원칙:\n- 이\
            \ 트렌드·데이터에서 광고주가 지금 당장 결정해야 할 가장 중요한 의사결정 축 3개를 직접 설정할 것.\n- 예시에 나온 헤더(\"\
            타겟팅 조정\" \"크리에이티브 테스트\" \"브랜드 세이프티\")를 그대로 쓰는 것은 금지.\n- 아래 참고 풀에서 이 트렌드·카테고리에\
            \ 가장 적합한 방향을 고르되, 풀에 없는 새로운 헤더도 자유롭게 설정 가능:\n  · 진입 타이밍: 채널 선점 타이밍 / 시즌\
            \ 연동 / 프로모션 기간 활용 / 파생 SKU·라인업 선점 / 피크 전 선제 적재\n  · 콘텐츠·크리에이티브: 포맷 A/B\
            \ 전략 / 시리즈 콘텐츠 설계 / UGC 루프 설계 / 셀럽 연계 서사 / 성분·기능 비교 포맷\n  · 유통·채널 (카테고리에\
            \ 맞게 선택):\n    F&B → 편의점 연동 / 오프라인 팝업 / 자사몰 연계\n    뷰티·헬스 → 올리브영 입점 /\
            \ 드럭스토어 채널 / D2C 전환\n    패션 → 무신사·지그재그 기획전 / 팝업 스토어 / 시즌 컬렉션 연동\n    엔터·여행\
            \ → OTT·플랫폼 연계 / 성지 거점 협업 / 패키지 연동\n    육아 → 맘카페 공구 연계 / 안전인증 서사 / 육아\
            \ 커뮤니티 진입\n  · 브랜드 포지셔닝: 원산지·스토리 서사 / 차별 성분·기능 각인 / 경쟁 포지셔닝 / 커뮤니티 선점\
            \ / IP 연계\n  · 리스크·전환: 밈화 방어 / 트렌드 주기 대응 / 팬덤 반감 방지 / 구매 전환 경로 단일화\n-\
            \ 3개의 헤더는 서로 다른 의사결정 차원을 다룰 것 (예: 타이밍+콘텐츠+유통 조합, 진입+포맷+포지셔닝 조합 등)\n\n\n\
            body 작성 규칙:\n- 마침표 기준 정확히 1문장. 2문장 이상 금지.\n- 이 트렌드 데이터에서 관찰된 구체적 신호(협찬\
            \ 패턴, 해시태그, 유통 채널, 콘텐츠 포맷 등)를 근거로 작성\n- 원시 수치 직접 노출 금지 — 정성적 표현으로 대체\n\
            - \"~하기\" \"~사용.\" \"~운영.\" \"~설계.\" 명사형으로 끝낼 것\n- \"~하세요\" \"~주세요\" \"\
            ~하라\" 어체 금지\n- 막연한 지시 단독 사용 금지 (반드시 이 트렌드에 맞는 구체 조건이 따라와야 함)\n- trend_meta.advertiser_entry_timing의\
            \ 타이밍 판단을 반영할 것\n\n\n---\n\n\n[전체 금지 사항]\n1. 본문에 유보·한계 표현 금지: \"~일 수 있어요\"\
            \ \"~로 추정\" \"확인이 필요\" \"~에 기반하므로\"\n   → 해당 내용은 data_caveats에만.\n2. 입력\
            \ 데이터에 없는 수치·날짜·계정명 금지.\n3. \"~습니다\" \"~합니다\" \"~됩니다\" 어체 금지.\n   why_trending\
            \ · who_resonates 본문에 \"~함.\" \"~됨.\" 명사형 종결도 금지 — \"~에요\" 계열 어체로 써야 함.\n\
            \   단, 한 섹션 안의 모든 문장을 같은 종결어미로 끝내는 것도 금지 — 어미를 변주해 한 호흡으로 읽히게 할 것.\n4.\
            \ 원시 수치(팔로워 수·DM 건수·조회수·좋아요 수 등) 본문 직접 노출 금지.\n   정성적 표현(마이크로 계정 주도, 높은\
            \ 전환 신호, 중형 계정 도달 등)으로 대체.\n5. 계정명(user_id)은 해당 계정이 트렌드의 핵심 점화·확산 주체임이\
            \ 명확한 경우에만 언급.\n   단순 수치 예시·보조 근거 목적으로 괄호 안에 계정명을 언급하는 것 금지 — 행동 패턴 설명으로\
            \ 대체.\n6. 문장 호흡: 한 문장 안에 절과 수식어가 과도하게 중첩되지 않도록. 핵심 정보만 남기고 간결하게.\n\n\n\
            ---\n\n\n[출력 형식] 코드블록 없이 JSON만. 문장과 문장 사이는 \\n으로 구분.\n(예: \"문장1.\\n문장2.\"\
            )\n\n\n{\n  \"main_keyword\": \"<메인 키워드 그대로>\",\n  \"sections\": {\n \
            \   \"why_trending\":  { \"title\": \"왜 뜨고 있나\", \"body\": \"...\" },\n\
            \    \"who_resonates\": { \"title\": \"누구에게 통하나\", \"body\": \"...\" },\n\
            \    \"campaign_use\": {\n      \"title\": \"캠페인에 어떻게 쓸까\",\n      \"\
            items\": [\n        { \"header\": \"항목명1\", \"body\": \"행동 지시 한 문장\" },\n\
            \        { \"header\": \"항목명2\", \"body\": \"행동 지시 한 문장\" },\n       \
            \ { \"header\": \"항목명3\", \"body\": \"행동 지시 한 문장\" }\n      ]\n    }\n\
            \  },\n  \"data_caveats\": []\n}"
        - id: 65fe290d-0392-468e-a2a9-36e541663b7c
          role: user
          text: '[트렌드 데이터 패키지]

            {{#1778136886864.input_json#}}'
        selected: false
        title: 광고주 인사이트 - 1차 생성
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1777863378756'
      position:
        x: 967.6431810473493
        y: 329.30473982956437
      positionAbsolute:
        x: 967.6431810473493
        y: 329.30473982956437
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 19a35395-a459-4ec5-998e-60cd8b1867dd
          role: system
          text: "[입력 데이터 구조]\n입력은 아래 JSON 형태로 제공돼요.\n- main_keyword: 분석 대상 키워드\n-\
            \ trend_meta.why_trending / audience / ignition_creator / diffusion_path\
            \ / advertiser_entry_timing: 사전 분석된 트렌드 맥락\n- content.instagram[]: 게시물\
            \ 배열 (post_id, user_id, followers, views, likes, comments, dm_send_count,\
            \ publish_date, description, matched_sub_keywords)\n- content.youtube[]:\
            \ 유튜브 영상 배열 (있을 경우)\n\n\n---\n\n\n당신은 SNS 트렌드의 시간적 흐름을 서사로 재구성하는 전문가입니다.\n\
            \n\n---\n\n\n[모범 예시 — 구조·밀도·어체를 따르세요. 내용(계정명·수치·카테고리)은 입력 데이터에서 가져오세요]\n\
            \n\nignition narrative:\n\"[신제품/이벤트명]의 [플랫폼] 출시로 카테고리 관심 집중.\"\n또는 \"\
            [계정/채널명]의 [콘텐츠 유형] 게시로 카테고리 점화.\"\n→ 1문장. 명사형 종결. 점화 계기 + 결과.\n\n\nspread\
            \ narrative:\n\"[최초 계정/채널]의 [포맷A]에서 [후속 계정/채널]의 [포맷B]로 형식 전환, [정성적 임팩트\
            \ 표현] 기록됨. [플랫폼]에서는 [파생 콘텐츠 유형]으로 분기하며 확산 경로 다변화됨.\"\n→ 2문장. 마침표로만 구분.\
            \ '누가 → 어떤 형식으로' 경로 변형 명시.\n\n\ncurrent_stage narrative:\n\"[효율 시그널의 정성적\
            \ 해석]. [파생 신호(파생 SKU/모방 진입/밈화 등)]으로 [단계] 진입 확인됨.\"\n→ 1~2문장. 수치의 의미를 해석할\
            \ 것 — 단순 수치 나열 금지.\n→ \"카테고리 평균\" 비교는 데이터에 해당 값이 있을 때만 쓸 것. 없으면 수치 자체의\
            \ 의미를 해석.\n\n\nadvertiser_recommendation:\n→ 현재 단계에 맞는 행동 권고. 1~2문장. 명사형\
            \ 종결.\n- 점화·초기 확산: 선점 진입 권고 위주\n- 급상승·정점: 진입 적기 + 차별화 조건 제시\n- 정점 후 안정·하강:\
            \ 차별화 없는 진입 비권고 + 피벗 방향\n- 양산화·포화: 카테고리 이탈 또는 파생 서브포맷 공략 권고\n\n\n---\n\
            \n\n[섹션별 작성 규칙]\n\n\n[섹션 1: 점화]\nnarrative: 정확히 1문장. 명사형 종결.\n\n\n✅ 점화\
            \ 주체 판단 — 아래 우선순위 순으로 판단할 것:\n\n\n① 신제품·콘텐츠·이벤트 출시가 트렌드 계기인 경우 (최우선):\n\
            \   content.instagram description에서 아래 유형을 언급하는 게시물이 단기간 집중되면\n   → 해당\
            \ 상품/콘텐츠/이벤트를 점화 계기로 삼을 것.\n   · F&B: 편의점 출시·신메뉴·팝업 스토어·한정 출시\n   · 뷰티·헬스:\
            \ 신제품 론칭·올리브영 입점·한정판 출시\n   · 패션: 브랜드 컬렉션 공개·아이돌 착용·콜라보 출시\n   · 엔터: OTT\
            \ 공개·음원 발매·시즌 오픈·아이돌 활동 재개\n   · 여행: 항공 노선 취항·비자 정책 변경·드라마 배경지 화제\n  \
            \ · 육아: 신제품 공동구매 오픈·맘카페 바이럴·브랜드 인증 획득\n   - date_or_period: 해당 클러스터의 최초\
            \ 게시일\n   - primary_actor: 상품명·콘텐츠명·이벤트명 (예: \"GS25 피프레도 출시\", \"장원영 라이브\
            \ 언급\", \"넷플릭스 OO 공개\")\n   - narrative: \"[상품/이벤트]의 등장으로 카테고리 관심 집중.\"\
            \n\n\n② 단일 고임팩트 게시물이 있는 경우:\n   다른 게시물 대비 조회수·likes·followers가 압도적으로 높은\
            \ 단일 포스트가 있으면\n   → 해당 계정과 날짜를 사용.\n   - narrative: \"[계정]의 [콘텐츠 유형] 게시로\
            \ 카테고리 점화.\"\n   - 계정명은 언급 가능하나, 팔로워 수·DM 수·조회수 등 원시 수치는 함께 쓰지 말 것.\n\n\
            \n③ 일상적 카테고리·점진적 트렌드인 경우 (①②가 모두 해당 없을 때):\n   특정 계정을 억지로 점화 주체로 지정하지\
            \ 말 것.\n   - primary_actor: \"다수 계정\" 또는 주요 해시태그·콘텐츠 군으로 표기\n   - date_or_period:\
            \ 데이터 내 최초 날짜가 아닌, 최근 게시물이 집중된 기간으로 표기\n   - narrative: \"특정 단일 계정의 점화보다\
            \ [관찰된 계기 또는 패턴]을 중심으로 카테고리 관심이 집중된 패턴.\"\n\n\ndate_or_period 표기 규칙 (섹션별\
            \ 형식이 다름):\n- 형식은 반드시 `YYYY.MM.DD` (점 구분, 2자리 월/일). \"YYYY년 M월\" 월 단위\
            \ 표기 금지.\n- ignition: 단일 날짜 `YYYY.MM.DD` (점화 게시물·신제품·이벤트가 발생한 하루)\n- spread:\
            \ 기간 `YYYY.MM.DD~YYYY.MM.DD` (점화 다음날부터 확산 정점일까지)\n- current_stage: `YYYY.MM.DD~진행중`\
            \ (확산 정점 다음날부터 데이터 마지막 시점까지, 종료는 \"진행중\"으로 표기)\n- 세 기간은 서로 겹치지 않고 하루씩\
            \ 연속될 것 (ignition일 → 다음날 spread 시작 → spread 종료 다음날 current_stage 시작).\n\
            - 모든 날짜는 content.instagram[].publish_date 와 content.youtube[].publishDate\
            \ 분포를 근거로 판단할 것.\n\n\nprimary_actor 표기 규칙:\n- 핵심 주체명 또는 이벤트명만 간결하게. \"\
            및\"·\"with\" 등으로 복수 주체를 연결하거나 부연 설명을 붙이지 말 것.\n  예) \"LE SSERAFIM 'CELEBRATION'\
            \ MV\" (O) / \"LE SSERAFIM 'CELEBRATION' 공식 MV 및 정규 2집 선공개 발매\" (X)\n\
            - ③ 케이스: \"다수 계정\" 단독 또는 \"다수 [콘텐츠 유형] 계정\" 수준으로 표기. 특정 브랜드·계정명 추가 금지.\n\
            \n\n❌ 쓰지 말 것:\n- 조회수 0, dm_send_count null 등 임팩트 없는 최초 게시물 계정을 점화 주체로\
            \ 기계적 선택.\n- 웹컨텍스트(뉴스 기사·블로그·해외 매체)의 날짜나 출처를 점화 시점/주체로 쓰는 것.\n  trend_meta는\
            \ 배경 맥락 참고용이며 점화 날짜 판단 소스가 아님.\n- primary_actor가 뉴스 매체·블로그·웹사이트(예: 네이버\
            \ 블로그, NYT)이면\n  → content.instagram 또는 content.youtube의 SNS 계정명·신제품명·이벤트명으로\
            \ 교체.\n- narrative 안의 플랫폼·채널 유형이 primary_actor와 불일치하면 수정.\n  예) primary_actor가\
            \ 인스타그램 계정인데 narrative에 \"유튜브 채널\" 표현 → \"인스타그램 게시물\"로.\n- 두 번째 문장 절대\
            \ 금지. 후속 확산 수치는 spread에서 다룰 것.\n\n\n[섹션 2: 확산 경로]\nnarrative: 정확히 2문장.\
            \ 명사형 종결.\n\n\n✅ 써야 할 것:\n- '누가 → 어떤 형식으로' 변형됐는지 경로 명시\n- 두 문장이 각각 다른\
            \ 채널의 수치만 나열하는 방식 금지\n  두 문장 중 적어도 하나는 포맷 변형(리뷰→DIY, 이미지→영상 등)을 서술할 것\n\
            - 임팩트는 원시 수치 대신 정성적 표현으로 (\"폭발적 도달\" \"단기 집중 확산\" 등)\n- content.youtube\
            \ 영상이 있으면: 채널명과 포맷 변화 중심으로 서술 (구독자·조회수 수치 직접 노출 금지)\n  → youtube 데이터가\
            \ 없으면 content.instagram 게시물 데이터만으로 서술.\n\n\n❌ 쓰지 말 것:\n- \"→\" 기호, \"\
            ;\" 세미콜론, \"하고,\" \"하며,\" \"~이며,\" \"~가운데,\" \"~상황에서,\" 접속형으로 절을 연결하는\
            \ 방식\n  반드시 마침표(\".\")로만 문장을 구분할 것.\n  이 접속형으로 연결된 절도 각각 별도 문장으로 카운트 —\
            \ 합산 3절 이상이면 핵심 2개만 남길 것.\n- 경로 분기가 여럿이면 임팩트 가장 큰 경로 하나만 서술\n- 팔로워 수,\
            \ DM 건수, 조회수 등 원시 수치를 숫자로 직접 노출하는 것\n\n\n[섹션 3: 현재 단계]\nphase_label: 7개\
            \ 중 하나 (점화 단계 / 초기 확산 / 급상승 구간 / 정점 진입 / 정점 후 안정 / 하강 진입 / 양산화·포화)\n\n\
            \nnarrative: 1~2문장. 수치를 나열하는 게 아니라 그 수치가 왜 이 단계인지 해석할 것.\n   ❌ \"총 조회\
            \ 3,700만 회와 DM 66만 건이 발생함.\" (볼륨 나열만, 원시 수치 직접 노출)\n   ✅ \"전환 의향이 높은 협찬\
            \ 콘텐츠가 단기간 집중되고 프랜차이즈 채널 진입이 겹치며 급상승 구간 진입 확인됨.\" (해석)\ntrend_meta.advertiser_entry_timing의\
            \ 판단을 참고하되, content 게시물 날짜 분포·신제품 등장 시그널로 검증할 것.\n\n\nadvertiser_recommendation:\
            \ 1~2문장. 지금 이 단계에서 해야 할 행동. 명사형 종결.\n\n\n---\n\n\n[날짜 활용 규칙]\n날짜는 각 섹션의\
            \ date_or_period 필드에만 표기할 것.\nnarrative 본문 안에는 어떠한 형태의 날짜(YYYY.MM.DD,\
            \ \"YYYY년 M월\", \"M월 N일\", \"지난주\" 등)도 쓰지 말 것.\n- ❌ \"2026.05.05부터 다수의\
            \ 체인·편의점 SKU 출시와...\" → 날짜 제거\n- ❌ \"2026.05.04 정점 형성 이후 공식 MV...\" →\
            \ 날짜 제거\n- ✅ 시점 정보가 필요하면 정성적 표현으로 대체: \"정점 직후\", \"프로모션 종료 직후\", \"점화\
            \ 이후 단기간 내\", \"확산 정점 이후\" 등.\n- 날짜 판단의 근거는 여전히 content.instagram[].publish_date\
            \ 와 content.youtube[].publishDate 분포이지만, 그 결과는 date_or_period에만 반영하고 narrative에는\
            \ 표면화하지 말 것.\n\n\n[기간 판단 가이드]\n- ignition일: 점화 계기로 판단된 단일 게시물·이벤트의 publish_date\
            \ (시각 부분은 버리고 날짜만).\n- spread 정점일: 점화 이후 게시물 일별 빈도(또는 임팩트 합산)가 가장 높았던\
            \ 날. 이 날까지를 spread 기간으로.\n- current_stage 시작일: spread 정점 다음날. 종료는 항상 \"\
            진행중\".\n- 정점 판단 근거가 모호하면 게시물 밀도가 처음 둔화되기 시작한 직전 날을 정점으로 본다.\n\n\n---\n\
            \n\n[전체 금지 사항]\n1. 모든 문장은 \"~했음.\" \"~기록됨.\" \"~점화.\" \"~필요.\" 명사형·과거형으로\
            \ 종결.\n   \"~에요\" \"~입니다\" \"~이다\" \"~하라\" \"~합니다\" \"~하세요\" 어체 금지.\n\
            2. 본문에 유보 표현 금지: \"~일 수 있어요\" \"~로 추정\" \"확인이 필요\" \"가능성이 있음\"\n   → data_caveats에만.\n\
            3. 입력 데이터에 없는 수치·날짜·계정명 금지.\n4. 각 narrative는 마침표 기준 2문장 초과 금지.\n5. 팔로워\
            \ 수·DM 건수·조회수·좋아요 수 등 원시 수치를 숫자로 직접 노출 금지.\n   정성적 표현(\"단기 폭발적 도달\" \"\
            전환 신호 농도 높음\" \"소형 계정 주도\" 등)으로 대체.\n6. 계정명은 트렌드 점화·확산의 핵심 주체임이 명확한 경우에만\
            \ 언급.\n   임팩트 없는 최초 게시물 계정, 단순 수치 예시 목적의 언급 금지.\n7. 문장 호흡: 한 문장 안에 절과\
            \ 수식어가 과도하게 중첩되지 않도록. 핵심 정보만 남기고 간결하게.\n\n\n---\n\n\n[출력 형식] 코드블록 없이 JSON만.\
            \ 문장과 문장 사이는 \\n으로 구분.\n(예: \"문장1.\\n문장2.\")\n\n\n{\n  \"main_keyword\"\
            : \"<메인 키워드 그대로>\",\n  \"sections\": \n    \"s\n    \"ignition\":    \
            \  {\"title\":\"점화\", \"date_or_period\":\"YYYY.MM.DD\", \"primary_actor\"\
            :\"...\", \"narrative\":\"...\"},\n    \"spread\":        {\"title\":\"\
            확산 경로\", \"date_or_period\":\"YYYY.MM.DD~YYYY.MM.DD\", \"narrative\":\"\
            ...\"},\n    \"current_stage\": {\"title\":\"현재 단계\", \"date_or_period\"\
            :\"YYYY.MM.DD~진행중\", \"phase_label\":\"...\", \"narrative\":\"...\", \"\
            advertiser_recommendation\":\"...\"}\n  },\n  \"data_caveats\": []\n}"
        - id: c98dc365-70ad-4468-8068-ed4882b6b8aa
          role: user
          text: '[트렌드 데이터 패키지]


            {{#1778136886864.input_json#}}'
        selected: true
        title: 트렌드 스토리 - 1차 생성
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1778032546624'
      position:
        x: 967.6431810473493
        y: 447.6760499137618
      positionAbsolute:
        x: 967.6431810473493
        y: 447.6760499137618
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1777863378756'
          - text
          value_type: string
          variable: advertiser_insight_final
        - value_selector:
          - '1778032546624'
          - text
          value_type: string
          variable: trend_story_final
        selected: false
        title: 출력
        type: end
      height: 114
      id: '1778032561141'
      position:
        x: 1234.1749997718434
        y: 329.30473982956437
      positionAbsolute:
        x: 1234.1749997718434
        y: 329.30473982956437
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: ''
          hint: ''
          label: input_json
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: input_json
      height: 109
      id: '1778136886864'
      position:
        x: 696.417795843579
        y: 308.30473982956437
      positionAbsolute:
        x: 696.417795843579
        y: 308.30473982956437
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1177.465962572876
      y: -195.70000403779528
      zoom: 1.614138261478668
  rag_pipeline_variables: []
