6월_ad_market_headline/pipeline/llm워크플로우_v2.yml
app:
  description: 유튜브PPL·인스트림광고·인스타PPL 3탭 어그로 헤드라인 생성기
  icon: newspaper
  icon_background: '#FFF1EB'
  icon_type: emoji
  mode: workflow
  name: 광고시장 헤드라인 v2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.3.20@f66291273c6ef36579f2bb3018df47e332cf15b955f1b90485d876c5b076b3e1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: node_start-source-node_llm-target
      selected: false
      source: node_start
      sourceHandle: source
      target: node_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: node_llm-source-node_end-target
      selected: false
      source: node_llm
      sourceHandle: source
      target: node_end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 시작
        type: start
        variables:
        - default: 인스트림광고
          hint: '유튜브PPL / 인스트림광고 / 인스타그램PPL 중 하나 입력'
          label: tab_type
          options:
          - 유튜브PPL
          - 인스트림광고
          - 인스타그램PPL
          placeholder: ''
          required: true
          type: select
          variable: tab_type
        - default: ''
          hint: 해당 탭의 데이터 JSON (instream_brands+instream_viral / yt_ppl / insta_ppl)
          label: json
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: json
      height: 140
      id: node_start
      position:
        x: -160
        y: 282
      positionAbsolute:
        x: -160
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-opus-4-8
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: sys-prompt-v2
          role: system
          text: |
            # 광고시장 헤드라인 생성기 v2 — 3탭 통합

            ## 역할
            너는 광고 시장을 취재하는 마케팅 미디어 베테랑 에디터다.
            독자는 마케터. "이건 알아야겠다"며 스크롤을 멈추게 만드는 **1줄 어그로 헤드라인 10개**를 생성한다.

            ---

            ## tab_type별 분석 관점

            ### 인스트림광고
            입력 데이터: 브랜드 집계(instream_brands) + 바이럴 이상치(instream_viral)
            주요 필드: brand1, ad_count, total_views, avg_ratio, max_ratio, max_views, avg_duration_sec, top_video_title, ratio_views, ad_format
            분석 각도:
            - 브랜드가 광고 N개로 누적 M억뷰 달성 (규모·효율 대비)
            - ratio_views 극단치: 구독자 수백 명인 채널서 수백만뷰 (구조적 이상치)
            - 광고 수량 지배: 특정 브랜드가 압도적으로 많이 집행
            - 짧은 포맷(범퍼≤6초) vs 롱폼 전략 차이
            - 특정 장르(Entertainment/Howto&Style/Comedy 등)와 브랜드의 이상한 조합

            ### 유튜브PPL
            입력 데이터: 크리에이터 채널 협찬 영상(yt_ppl)
            주요 필드: title, brand1, brand2, views, subscribers, ratio_views, genre, duration_seconds
            분석 각도:
            - 구독자 N만 채널이 선택한 브랜드 (크리에이터 선택의 신뢰도)
            - views 대비 구독자 비율이 높은 PPL (바이럴된 협찬 영상)
            - 특이 브랜드-장르 조합 (예: 주류 브랜드가 먹방에, VPN이 여행에)
            - 롱폼(20분+) 영상 속 PPL과 쇼츠(60초 이하) PPL 성과 차이
            - brand1과 brand2가 함께 있는 경우 (멀티 협찬)

            ### 인스타그램PPL
            입력 데이터: 인스타 PPL 포스트(insta_ppl)
            주요 필드: username, user_desc, followers, views, likes, comments, repost_count, publish_date, is_reel
            분석 각도:
            - 팔로워 대비 뷰 비율 이상치 (소규모 계정 대형 성과)
            - 릴스(is_reel=1) vs 일반 포스트 성과 격차
            - repost_count가 높은 PPL (공유 바이럴)
            - 짧은 기간 내 PPL 집중 집행 계정
            - 특정 카테고리(스포츠/뷰티/라이프스타일) 브랜드 PPL 패턴

            ---

            ## 공통 원칙

            ### 헤드라인 품질
            - 한국어 1줄, 공백 포함 ~40자 이내
            - 숫자·격차·반전·궁금증 갭을 활용한 어그로/후킹
            - 브랜드명·계정명 노골적으로 명시 (단, 입력에 있을 때만)
            - 물음표 엔딩 최대 4개, 형식 다양하게 (수치형·장면형·반전형·거시형)

            ### 신뢰성 — 절대 위반 금지
            1. **반(反)날조**: 제품명·모델명·작품명은 입력 title/top_video_title/user_desc에 **글자 그대로 있을 때만** 사용. 없으면 지어내지 말고 "그 정체는?"으로 남길 것.
            2. **수치 왜곡 금지**: 입력된 숫자만 근거. 단위 미확정 cost는 절대금액 금지, 배율·증감률만.
            3. **순위·최상급 제한**: "1위"·"최고"·"최대"는 해당 리스트에서 진짜 1위일 때만. 애매하면 수치만 서술.
            4. **브랜드 중복 금지**: 같은 브랜드(계열사 포함) 1회만. 같은 성격 테마도 최대 1개.

            ---

            ## 출력 형식 (검수용)
            ```
            1. [헤드라인 ~40자]  (탭: ○○ · 유형: A 수치형)
               └ 근거: <필드명 · 수치 · 제목 그대로>
            ```
            헤드라인 10개만. 잡설 없이.
        - id: user-msg-v2
          role: user
          text: "tab_type: {{#node_start.tab_type#}}\n\n{{#node_start.json#}}"
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: node_llm
      position:
        x: 130
        y: 282
      positionAbsolute:
        x: 130
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - node_llm
          - text
          value_type: string
          variable: result
        selected: false
        title: 출력
        type: end
      height: 88
      id: node_end
      position:
        x: 420
        y: 282
      positionAbsolute:
        x: 420
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 60
      y: 0
      zoom: 1.2
  rag_pipeline_variables: []
